.navbar1{
    float: left;
    font-size: 20px;
    width: 10%;
    background-color: white;
    padding: 15px 0px;
    text-align: center;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
    font-family: "JalnanOTF"
}
.navbar2{
    float: right;
    font-size: 20px;
    width: 90%;
    background-color: white;
    padding: 15px 0px;
    text-align: right;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
    font-family: "JalnanOTF"
}
.logo{
    text-align: left;
    float: left;
}
.navbarMenu{
    font-family: 'Noto Sans KR';
    color: black;
    margin: 10px;
    text-decoration: none;
    font-weight: 10px;
}
.Aupuh{
    font-size: large;
    font-family: "JalnanOTF";
    font-weight: 10px;
    
}

